/*colors*/
@color-type-default: #242424;
@color-type-dark-light: #565656;
@color-type-accent: #ff7800;

/*background colors*/
@color-background-aside: #18234b;

/*border colors*/
@color-border-default: #c8cccf;

/*fonts*/
@type-default: 'Arial', sans-serif;
