@color-accent: #ff7800;

/*colors*/
@color-type-default: #242424;
@color-type-dark-light: #565656;
@color-type-accent: #ff7800;

/*background colors*/
@color-background-info: #18234b;
@color-background-accent: #ff7800;

/*border colors*/
@color-border-default: #c8cccf;

/*mark color*/
@color-mark-green: #52ac62;
@color-mark-red: #d24a43;

/*fonts*/
@type-default: 'Arial', sans-serif;
