.b-person-cart{
  .clearfix();
  position: relative;
  width: 100%;
  border-right: 1px solid @color-border-default;
}

.b-person-cart__border-bottom{
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: @color-border-default;
}

/*aside*/
.b-person-cart__aside{
  //position: absolute;
  float: left;
  width: 348px;
  z-index: 2;
}

.b-person-cart__aside_background{
  width: 348px;
  height: 100%;
  background-color: @color-background-info;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.b-person-cart__aside-inner{
  padding: 32px;
  background-color: @color-background-info;
  position: relative;
  z-index: 2;
}

.b-person-cart__person-pic{
  width: 100%;
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.b-person-cart__rating{
  .clearfix();
  max-width: 170px;
  margin: 15px auto 0;
}

.b-person-cart__star{
  .border-box();
  width: 20%;
  height: 26px;
  padding: 0 4px;
  float: left;
  cursor: pointer;
  &:first-child{
    margin-left: 0;
  }
  .b-icon-star{
    fill: @color-accent;
    height: 100%;
    width: 100%;
  }
}

.b-person-cart__gifts-list{
  margin: 40px 0;
  padding: 0;
  list-style-type: none;
}

.b-person-cart-gifts-item{
  margin-bottom: 20px;
  position: relative;
  padding-left: 45px;
  min-height: 30px;
  padding-top: 6px;
  &:last-child{
    margin-bottom: 0;
  }
}

.b-person-cart-gifts-item__icon-tick{
  display: inline-block;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 33px;
  position: absolute;
  left: 0;
  top: 0;
  .b-icon-tick{
    display: inline-block;
    width: 20px;
    height: 17px;
    fill: #fff;
  }
}



.b-person-cart-gifts-item__text{
  font-family: @type-default;
  font-size: 18px;
  color: #fff;
}

.b-person-cart__button-join{
  background-color: @color-background-accent;
  border: none;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  font-family: @type-default;
  border-radius: 7px;
  padding: 16px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}



/*content*/
.b-person-cart__content{
  overflow: hidden;
  margin-left: 348px;
  padding-bottom: 30px;
  border-top: 1px solid @color-border-default;
}

/*person-header*/
.b-person-cart__person-header{
  text-align: center;
  padding: 22px 0 20px;
  border-bottom: 1px solid @color-border-default;
}

.b-person-cart__person-name{
  font-family: @type-default;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

.b-person-cart__person-post{
  font-family: @type-default;
  font-size: 20px;
  color: @color-type-dark-light;
}

/*Cart info*/
.b-person-cart__info{
  border-bottom: 1px solid @color-border-default;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: @color-border-default;
    left: 40%;
    top: 0;
  }
}

.b-person-cart__info-inner{
  .clearfix();
}




.b-person-cart__location,
.b-person-cart__price{
  .border-box();
  float: left;
  padding: 25px 60px 24px 58px;
}

.b-person-cart__location{
  width: 40%;
}



.b-person-cart__price{
  width: 60%;
}

/*Cart location*/

.b-person-cart__location-item{
  margin-bottom: 15px;
  line-height: 1.5em;
}

.b-person-cart__location-text{
  .b-type-default();
}

.b-person-cart__location-title{
  margin-right: 10px;
}

.b-person-cart__location-mark{
  border-radius: 100%;
  width: 9px;
  height: 9px;
  display: inline-block;
}

.b-person-cart__location-mark_green{
  background-color: @color-mark-green;
}
.b-person-cart__location-mark_red{
  background-color: @color-mark-red;
}

.b-person-cart__location-departure{
  margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}



/*Cart price*/

.b-person-cart-table-price{
  width: 100%;
  margin-bottom: 15px;
  line-height: 1.5em;
}


.b-person-cart-table-price__desc,
.b-person-cart-table-price__value{
  .b-type-default();
  padding-bottom: 5px;
}

/*reviews*/
.b-person-cart-reviews{
  padding-top: 30px;
  padding-left: 58px;
  padding-right: 60px;
}

.b-person-cart-reviews__header{
  position: relative;
}

.b-person-cart-reviews__date{
  position: absolute;
  right: 0;
  top: 0;
  color: #8c8c8c;
  font-family: @type-default;
}

.b-person-cart-reviews__comment{
  font-size: 16px;
  font-family: @type-default;
  line-height: 1.3em;
}

.b-person-cart-reviews__person-name{
  font-family: @type-default;
  font-size: 18px;
  color: @color-type-default;
  margin-bottom: 5px;
}

.b-person-cart-reviews__rating{
  font-size:20px;
  font-family: @type-default;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-color: @color-background-accent;
  display: inline-block;
  text-align: center;
  margin-left: 35px;
}

.b-person-cart-reviews__comment-more{
  text-align: right;
  margin-top: 20px;
}

/*b-person-cart-slider-works*/

.b-person-cart-slider-works{
  margin-top: 30px;
  padding-left: 58px;
  padding-right: 60px;
  img{
    width: 100%;
    height: auto;
  }
  .slick-slide{
    padding: 0 10px;
  }
  .slick-arrow{
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -16px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover{
      .b-icon-arrow-prev,
      .b-icon-arrow-next{
        fill: @color-accent;
      }
    }
    svg{
      display: block;
      width: 19px;
      height: 32px;
    }
  }
  .slick-prev{
    left: 20px;
    .b-icon-arrow-prev{
      fill: #828282;
    }

  }
  .slick-next{
    right: 20px;
    .b-icon-arrow-next{
      fill: #828282;
    }
  }
}


/*text*/
.b-person-cart__sub-title{
  font-family: @type-default;
  color: @color-type-default;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.b-type-default(){
  font-family: @type-default;
  color: @color-type-default;
  font-size: 18px;
}

.b-person-cart__text_bold{
  font-weight: bold;
}





/*link*/
.b-person-cart__more{
  font-size: 16px;
  font-family: @type-default;
}


.b-person-cart__link{
  color: @color-type-accent;
  text-decoration: none;
  &:hover{
    color: @color-type-default;
    text-decoration: none;
    .b-person-cart__link-underline{
      border-bottom-color: transparent;
    }
  }
}

.b-person-cart__link-underline{
  border-bottom: 1px solid tint(@color-type-accent, 50%);
}

/*button*/
