.b-person-filter{
  margin-bottom: 10px;
  background-color: @color-background-info;
  padding: 50px 45px;
}

.b-form-person-filter__item{
  .border-box();
  float: left;
  padding: 0 14px;
}

.b-form-person-filter__item-column-3{
  width: 33.3333%;
}


.b-form-person__select{
  font-family: @type-default;
  border: none;
  .selectize-input{
    border-radius: 0;
    padding: 10px 25px;
    border: none;
    input{
      font-size: 24px;
      color: @color-type-default;
    }
    .item{
      font-size: 24px;
      padding: 5px 0;
    }
  }
  .selectize-dropdown{
    border: none;
    border-radius: 0;
  }
  .selectize-dropdown .optgroup-header,
  .selectize-dropdown [data-selectable]{
    padding: 17px 25px 0 17px;

    font-size: 18px;
    span{
      display: block;
      border-bottom: 1px solid @color-border-default;
      padding-bottom: 17px;
    }

  }
  .selectize-dropdown-content{
    max-height: 400px;
  }
  .placeholder-color(@color-type-default);
}